body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    font-family: 'Raleway';
}

.section1{
    margin: 2vh 5vw;
}

.logo{
    display: flex;
    align-items: center;

}

.logo img{
    width: 70%;
}

header ul{
    list-style-type: none;
    margin-left: -25px;
    font-size: 12px;
}

header a{
    margin-right: 10px;
    text-decoration: none;
}

.container{
    margin-top: 30px;
    height: 40vh;
}

.container1{
    background-image: url(images/illustration-1.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container2{
    display: flex;
    flex-direction: column;
    height: 60vh;
    text-align: center;
    color: hsl(243, 87%, 12%);
}

.container2 h1{
    font-size: 25px;
    font-weight: 600;
}

.container2 p{
    margin-left: 10px;
    width: 95%;
    margin: 25px auto;
}

.input input{
    width: 90%;
    height: 5vh;
    border: solid 1px black;
    text-indent: 20px;
}

input ::placeholder{
    color: hsla(0, 60%, 97%, 0.747);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 5vh;
    background-color: hsl(224, 93%, 58%);
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 15px;
    box-shadow: 2px 3px 0px 1px rgba(8, 8, 8, 0.11);
}

.button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* SECTION2 -----------------------------------------------------------------------*/

.section2{
    background-image: url(images/bg-curve-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.container3{
    background-color: hsl(240, 75%, 98%);
    margin-top: 50px;
    padding-bottom: 40px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 5vw;

}

.top-img{
    background-image: url(images/illustration-2.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
}

.container4{
    margin-top: 50px;
    height: 40vh;
}

.container4 h2{
    text-align: center;
    font-size: 18px;
    color: hsl(243, 87%, 12%);
}

.container4 p{
    font-size: 15px;
    margin-top: 25px;
    color:hsl(238, 22%, 44%);
    width: 98%;
}

.work-link{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding-bottom: 5px;
    margin-left: 25%;
    margin-top: 30px;
    border-bottom: 1px solid black;
}

.work-link a{
    color: hsl(170, 45%, 43%);
    text-decoration: none;
}

.container5{
    display: flex;
    flex-direction: column;
    width: 82%;
    height: 20vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgba(8, 8, 8, 0.11);
    padding: 2vh 2vw 2vh 6vw;
}

.container5 img{
    width: 5%;
    height: 2vh;
}

.container5 p{
    color: hsl(243, 87%, 12%);
    font-size: 13px;
    line-height: 20px;
}

.detail-row
{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 5vh;
}

.detail-row img{
    height: 90%;
    width: 35px;
    border-radius: 100%;
}

.person-detail{
    display: flex;
    flex-direction: column;
}

.person-detail{
    margin-top: -10px;
    margin-left: 10px;
}

.person-detail h3{
    font-size: 14px;
}

.person-detail p{
    margin-top: -15px;
    font-size: 10px;
}

/*SECTION3 -----------------------------------------------------------------*/

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
}

.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2{
    display: flex;
    flex-direction: column;
}

.section3 h1{
    font-size: 20px;
}

.section3 p{
    width: 80%;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.sec2 input{
    width: 250px;
    height: 4vh;
    text-indent: 2px;
}

.sec2 .button{
    margin-top: 10px;
    width: 257px;
    margin-left: 0;
}

.section3  a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

footer{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding: 8vh 10vw;
    height: 70vh;
    background-color: hsl(243, 87%, 12%);
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    height: 4vh;
    width: 90%;
}

.row img{
    width: 20px;
    height: 20px;
}

.row p{
    color: white;
    margin-left: 20px;
}

.row2{
    margin-top: 10px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.col{
    display: flex;
    flex-direction: column;
}

.col a{
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.col{
    margin-top: 25px;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
    width: 60%;
    margin-left: 60px;
}

.social-links img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


@media screen and (min-width: 1028px) {

    header{
        margin-top: 50px;
    }

    nav{
        margin-left: 68%;
    }

    nav a{
        font-size: 14px;
        margin-right: 25px;
    }
    .main{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 50px;
    }

    .container2{
        width: 40%;
        text-align: left;
        margin-left: 0;
        width: 60%;
        margin-top: 80px;
    }

    .input-button{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .input input{
        width: 300px;
    }

    .text h1{
        width: 70%;
        font-weight: 600;
        font-size: 34px;
    }

    .text p{
        margin-left: 0;
        width: 80%;
        font-size: 20px;
    }

    .button{
        margin-top: 0;
        margin-left: 10px;
        height: 5.5vh;
        width: 30%;
    }

    .container1{
        width: 40%;
        height: 50vh;
        background-size: cover;
    }

    .section2{
        background-size: cover;
    }

    .container3{
        margin-top: 200px;
        height: 70vh;
        width: 100%;
    }
    
    .content{
        flex-direction: row-reverse;
    }

    .top-img{
        background-size: cover;
        height: 60vh;
        width: 55%;
    }

    .container4{
        width: 60%;
        margin-top: -150px;
    }

    .container4 h2{
        font-size: 32px;
        text-align: left;
    }

    .container4 p{
        font-size: 16px;
        width: 80%;
    }

    .container5{
        position: absolute;
        top: 1240px;
        width: 18%;
        left: 70px;
        padding: 2vh 2vw;
    }

    .work-link{
        margin-left: 0;
    }

    .section3{
        flex-direction: row;
        justify-content: left;
        height: 40vh;
    }

    .sec1{
        width: 50%;
    }

    .sec1 h1{
        font-size: 34px;
        margin-left: -200px;
    }

    .sec1 p{
        font-size: 20px;
        text-align: left;
    }

    .sec2{
        width: 40%;
        margin-left: 100px;
    }

    .sec2 input{
        width: 500px;
        height: 6vh;
        font-size: 18px;
        text-indent: 28px;
        border-radius: 5px;
    }

    .sec2 .button{
        width: 200px;
        height: 6vh;
        font-size: 14px;border-radius: 5px;
    }

    footer{
        flex-direction: row;
        height: 30vh;
    }

    .f1{
        margin-right: 250px;
    }
    .links{
        flex-direction: row;
    }

    .col{
        margin-right: 200px;
    }

    .social-links{
        margin-top: 100px;
        margin-left: 0;
    }

    .social-links img{
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1500px) {
    
    nav{
        margin-left: 67.5%;
    }

    nav a{
        font-size: 14px;
        margin-right: 40px;
    }

    .top-img{
        width: 42%;
    }

    .container1{
        height: 65vh;
        width: 50%;
    }

    .section2{
        margin-top: 100px;
    }

    .container4 p{
        width: 65%;
    }

    .container5{
        width: 17%;
        padding: 3vh 2vw;
    }

    .sec1 h1{
        margin-left: -230px;
    }
}